/** @format */

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/** @format */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--light-slate);
	border-radius: 10px;
}

body {
	margin: 0px;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	background-color: var(--navy);
	color: var(--slate);
	font-family: var(--font-sans);
	font-size: var(--fz-xl);
	line-height: 1.3;
}

:root {
	--dark-navy: #020c1b;
	--navy: #0a192f;
	--light-navy: #112240;
	--lightest-navy: #233554;
	--navy-shadow: rgba(2, 12, 27, 0.7);
	--dark-slate: #495670;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--lightest-slate: #ccd6f6;
	--white: #e6f1ff;
	--green: #64ffda;
	--green-tint: rgba(100, 255, 218, 0.1);
	--pink: #f57dff;
	--blue: #57cbff;
	--font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
		system-ui, sans-serif;
	--font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	--border-radius: 4px;
	--nav-height: 100px;
	--nav-scroll-height: 70px;
	--tab-height: 42px;
	--tab-width: 120px;
	--easing: cubic-bezier(0.645, 0.045, 0.355, 1);
	--transition: all 0.25s;
	--fz-xs: 13px;
}

/* ------- Infos ------- */

.info1 {
	font-size: 4.5rem;
	font-weight: bold;
	color: var(--white);
}

.info2 {
	font-size: 25px;
	color: var(--green);
	margin-top: 29px;
}

#info3 {
	width: 100%;
	font-size: 2rem;
	color: var(--white);
}

#info4 {
	font-family: var(--font-sans);
	color: var(--white);
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
}

#info5 {
	font-family: var(--font-sans);
	color: var(--pink);
	line-height: 24px;
}

#info6 {
	line-height: 24px;
	color: var(--lightest-slate);
}

#info7 {
	width: 100%;
	font-size: 2rem;
	color: var(--white);
	padding-bottom: 34px;
}

#info8,
#info9,
#info10 {
	font-family: var(--font-sans);
	color: var(--white);
	font-size: 23px;
	font-weight: 400;
	line-height: 27px;
}

#info11 {
	width: 100%;
	font-size: 2rem;
	color: var(--white);
}

#info12 {
	font-family: var(--font-sans);
    color: var(--white);
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

#info13 {
	color: var(--green);
	text-align: end;
	font-size: 22px;
	padding-bottom: 10px;
	/* display: flex; */
}

#info14 {
	padding: 17px;
	line-height: 29px;
	color: var(--white);
}

#info15 {
	color: var(--green);
	position: absolute;
	top: 2727px;
	left: 1319px;
	font-size: 22px;
}

#info16 {
	padding: 5px 1px 8px 7px;
	margin-left: 3px;
	font-size: 15px;
	line-height: 23px;
	color: var(--white);
	/* display: grid; */
}

#info17 {
	color: var(--green);
	position: absolute;
	top: 3137px;
	left: 1494px;
	font-size: 22px;
}

#info18 {
	padding: 5px 1px 8px 7px;
	margin-left: 3px;
	font-size: 15px;
	line-height: 23px;
	color: var(--white);
	/* display: grid; */
}

#info19 {
	width: 100%;
	font-size: 2rem;
	color: var(--white);
}

#info20 {
	color: var(--green);
	font-size: 62px;
	display: flex;
	justify-content: center;
}

#info21 {
	font-size: 24px;
    color: var(--light-slate);
    padding: 5px 1vw;
    display: flex;
    text-align-last: center;
}

/* ------- Header ------- */

#topResume {
	display: flex;
	border-radius: 6px;
	cursor: pointer;
	background-color: transparent;
	border-color: #64ffda;
	color: #64ffda;
	border: 2px solid #64ffda;
	font-size: 17px;
	transition: all 0.5s cubic-bezier(0.5, 0.3, 0.1, 1.02);
	margin-right: 5vw;
	margin-top: -12px;
	padding: 5px 10px;
}

#topResume .resume {
	color: var(--green);
	font-family: ui-serif;
	font-weight: 500;
	font-size: 19px;
}

#topHeader {
	display: flex;
	width: 100vw;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#topResume:hover {
	color: #64ffda;
	background-color: #64ffdb41;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

.logo {
	height: 155px;
	width: 155px;
	margin-left: 20px;
	margin-top: 13px;
}

/* ------- Section1 ------- */

.topInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.Avatar,
.bg {
	display: flex;
	justify-content: center;
	align-content: center;
}
.avatar img,
.backGround img {
	max-width: 100%;
	max-height: 100%;
}

.avatar {
	height: 212px;
	width: 212px;
	margin-top: 37px;
}

.backGround {
	height: 259px;
	width: 992px;
	display: flex;
	justify-content: center;
	margin-top: 7.7rem;
}

.rect {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 5px;
}
.rect-right {
	background-color: var(--green);
	width: 741px;
	height: 5px;
	border-radius: 5px;
}

/* ------- About ------- */

#about {
	display: flex;
	flex-direction: row;
	width: 105vw;
	justify-content: space-between;
	align-items: center;
	padding: 5px 16vw;
	margin-top: 70px;
}

#sec1 {
	width: 50%;
}

.inner{
	padding-top: 30px;
}

#sec2 {
	width: 42%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 84px;
}

#sec2 img {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}

#sec2 img {
	width: 250px;
	height: 250px;
	border-radius: 15px;
	border: 2.9px solid #64ffda;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}

#sec2 img:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

/* ------- Skills ------- */

#skills {
	display: flex;
	flex-direction: row;
	width: 110vw;
	justify-content: center;
	align-items: center;
	padding-top: 108px;
}

#sec3 {
	width: 70%; 
}

.workSection{
	padding-top: 20px;
}

.inner1 {
	display: inline-block;
	margin-top: -24px;
}

.inner2 {
	display: inline-block;
	margin-top: -24px;
	margin-left: 159px;
}

.inner3 {
	display: inline-block;
	margin-top: -24px;
	margin-left: 212px;
}

.inner7 {
	display: inline-block;
	margin-top: -24px;
	margin-left: 375px;
}

#skillList {
	display: grid;
	padding: 0px 0vw;
}

#skillList li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 20px;
	font-family: var(--font-mono);
	font-size: 21px;
	color: var(--lightest-slate);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

#skillList li::before {
	content: "▹";
	position: absolute;
	left: 0px;
	color: var(--green);
	font-size: var(--fz-sm);
	line-height: 12px;
}

#skillsSection{
	display: flex;
}

/* ------- Projects ------- */

#projects{
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: flex-start;
	align-items: center;
	padding: 0vh 15.4vw;
	align-content: center;
}

#sec4 {
	width: 97%; 
	margin-top: 80px;
}

.inner4{
	padding-top: 35px;
}

#project1, #project2,
#project3 {
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 40px;
}

#project1 img,
#project2 img,
#project3 img {
	width: 593px;
	height: 320px;
	display: grid;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	border-radius: 10px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}

#project1 img:hover,
#project2 img:hover,
#project3 img:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}

#project1Desc,
#project2Desc,
#project3Desc {
	background: var(--light-navy);
	border-radius: 11px;
	display: flex;
	flex-direction: column;
	width: 450px;
	margin-left: 28px;
}


/* ------- Contacts ------- */

#contact {
	display: flex;
	flex-direction: column;
	width: 56vw;
	justify-content: flex-start;
	align-items: center;
	padding: 4vh 13vw;
	align-content: center;
}

#sec5 {
	width: 78%;
	margin-top: 23px;
}

.inner5{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 72vw
}

.links {
	display: flex;
	width: 80%;
	height: 100%;
	margin-top: 12vh;
	margin-left: 60px;
}

#instagram {
	list-style: none;
}

#linked,
#discord,
#twitter,
#gmail {
	list-style: none;
	margin-left: 183px;
}

#instagram img,
#linked img {
	height: 38px;
	width: 38px;
	filter: invert(1);
	opacity: 0.7;
	transition: all 0.2s;
}

#discord img,
#twitter img,
#gmail img {
	height: 48px;
	width: 48px;
	filter: invert(1);
	opacity: 0.7;
	transition: all 0.2s;
}

#instagram img:hover,
#linked img:hover,
#discord img:hover,
#twitter img:hover,
#gmail img:hover {
	transform: scale(1.3);
}

/* ------- Media Queries ------- */

@media only screen and (max-width: 620px) {

	/* For mobile phones: */
	
	/* ------- Infos ------- */
	
	.info1 {
		font-size: 3rem;
		flex-direction: column;
		padding: 5px 0vw;
	}

	.info2{
		flex-direction: column;
		padding: 5px 0vw;
	}

	#info13{
	padding: 17px;
    text-align: center;
    width: 105%;
	}

	#info14 {
		font-size: 14px;
		width: 100%;
	}

	#info15 {
		top: 4569px;
		left: 28px;
	}

	#info16 {
		font-size: 14px;
		width: 86vw;
	}

	#info17 {
		top: 5028px;
		left: 28px;
	}

	#info18 {
		font-size: 13.1px;
		width: 86vw;
	}

	#info19 {
		width: 70vw;
	}

	#info20 {
		font-size: 45.1px;
		width: 80vw;
	}

	#info21 {
	font-size: 12px;
    color: var(--light-slate);
    width: 96vw;
	}
	
	/* ------- Header ------- */
	
	.logo,
	.resume {
		flex-direction: column;
		padding: 5px 0vw;
	}

	/* ------- Section1 ------- */
	
	.avatar,
	.backGround{
		flex-direction: column;
		padding: 5px 0vw;
	}
	
	.logo img {
		margin-left: -10vw;
	}
	
    /* ------- About ------- */

	#about {
		flex-direction: column;
		padding: 5px 0vw;
	}
	
	#about{
		flex-direction: column;
		padding: 5px 0vw;

	}

	#sec1{
		width: 70%;
	}

	.workSection{
		padding-top: 0px;
	}
	#sec2 {
		margin-top: 30px;
	}

	/* ------- Skills ------- */
	
	.inner1, .inner2, .inner3, .inner7 {
		display: inline;
	}

	/* ------- Projects ------- */

	#sec4{
	display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
	}

	#project1 img,
	#project2 img,
	#project3 img {
		max-width: 88vw;
		max-height: 24vh;
		margin-left: -35px;
	}

	#project1{
		display: inline;
		padding-top: 60px;
	}

	#project1Desc{
		margin-left: -33px;
		width: 125%;
	}

	/* ------- Contacts ------- */

	/* .links {
		width: 61vw;
	} */
	
    /* #sec5 {
    	width: 100vw;
    } */

	/* #contact{
		width: 140vw;
	} */

	#sec5{
		max-width: 100%;
	}

	.inner5{
		width: 71vw;
	}

	#inner6 {
		width: 60vw;
		margin-left: -88px;
	}

	#linked,
	#discord,
	#twitter,
	#gmail {
		margin-left: 26px;
	}

}